@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    The Picker Pupper
    Stressing out about how to get your pet to his or her Veterinarian appointment when you are at work? Well fret no more!  The Picker Pupper is a NEW and easy way to safely transport your pet to his vet appointment when you are are not able!
    Caring, animal-loving staff will pick your pet up at your home and easily transport them to your pet’s veterinarian appointment. This same staff person will sign your pet up at the veterinarian offices’s front desk and  wait patiently for them until the appointment is over, and they are ready to be transported back home.
</p>
