
@{
    ViewBag.Title = "Send";
}

<h2>Send</h2>
<h5>Send Email</h5>

<form method="post" action="~/Customers/SendEmail">
    <input type="submit" value="Send Email"/>
</form>







