@model Capstone.Models.PaymentPlan

@{
    ViewBag.Title = "Charge";
}

<h2>Charge</h2>

<div class="row">
    <div class="container col-md-2 col-md-offset-5">
        <h5>Pay your price</h5>
        <form action="/PaymentPlans/Charge" method="post">
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_x1EIvxRrByOK7uejikQnhqt7"
                    data-amount="1000"
                    data-name="Picker Pupper"
                    data-description="Test Charge"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto"
                    data-zip-code="true"
                    data-currency="usd">

            </script>
        </form>
    </div>
</div>

