
@{
    ViewBag.Title = "View";
}
<p>
    @Html.ActionLink("Send Text Pickup", "PickupNotification")
    @Html.ActionLink("Send Text At Vet", "VetNotification")
    @Html.ActionLink("Send Text Dropoff", "ReturnNotification")
</p>
<h2>View</h2>

